<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Device Motion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Trip record settings</ion-label>
      <ion-icon name="cog"></ion-icon>
    </ion-list-header>
      <ion-item-group>
        <form [formGroup]="recordForm">
          <ion-item>
            <ion-label>Trip type</ion-label>
            <ion-select formControlName="tripType">
              <ion-option *ngFor="let type of tripTypes" [value]="type">{{type}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Sample rate Hz</ion-label>
            <ion-select formControlName="sampleRate">
              <ion-option *ngFor="let rate of sampleRates" [value]="rate">{{rate}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Record timeout</ion-label>
            <ion-select formControlName="recordTimeout">
              <ion-option *ngFor="let timeout of recordTimeouts" [value]="timeout">{{timeout}}</ion-option>
            </ion-select>
          </ion-item>
        </form>
      </ion-item-group>
    <button ion-button full icon-left [color]="isRunning ? 'light' : 'danger'" [disabled]="isRunning" (click)="startRecording($event)">
      <ion-icon name="start"></ion-icon>
      <div *ngIf="isRecording">Recording [{{timer}}]</div>
      <div *ngIf="!isRecording">Record</div>
    </button>
  </ion-list>
  <ion-content *ngIf="isRecording" padding>
    <ion-item-group *ngIf="pos && pos.coords">
      <ion-label>Position</ion-label>
      <ion-item>lat: {{pos.coords.latitude}}</ion-item>
      <ion-item>lng: {{pos.coords.longitude}}</ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="acceleration">
      <ion-label>Accelerometer</ion-label>
      <ion-item>x: {{acceleration.x}}</ion-item>
      <ion-item>y: {{acceleration.y}}</ion-item>
      <ion-item>z: {{acceleration.z}}</ion-item>
    </ion-item-group>
  </ion-content>
</ion-content>
